.social-media li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;    
    color: rgb(247, 36, 36);
    border: 2px solid rgb(247, 36, 36);
    text-align: center;
    list-style: none;
    margin: 4px;
    transition: all .5s;
}
.social-media li:hover{
    color: rgb(34, 205, 248);
    border: 2px solid rgb(34, 205, 248);
}
.banner-img{
    width: 90%;
    height: 90%;
    box-shadow: 0 0 0 5px rgb(250, 9, 9);
    animation: banner_animate 8s ease-in-out infinite 1s;
}
@keyframes banner_animate{
    0%{
        border-radius: 60% 30% 40% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 30% 40% 70%/60% 30% 70% 40%;
    }
}
